<%= render "shared/header" %>

<div class='user-show-contents'>
  <div class="subtitle" >
    投稿一覧
  </div>
  <ul class='user-show-map-lists'>
    <% @posts.each do |post| %>
    <li class='user-show-map-list'>
      <div class='user-show-map-info'>
        <div class="user-show-user-name">
          <%= link_to user_path(post.user.id) do %>
            <span><%= post.user.nickname %></span>
          <% end %>
          <%= render "shared/second-leader", post: post %>
        </div>
        <div class='back-image'>
          <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
          <%= image_tag 'noimage.png', class: 'post-image' unless post.image.attached? %>
        </div>
        <div id="likes-<%= post.id %>">
          <%= render "shared/like", post: post %>
        </div>
        <div class='user-show-map-name'>
          <%= link_to "このコースのマップを見る", post.map_link, target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class='user-show-map-address'>
          <span><%= post.address.prefecture_code %><%= post.address.city %></span>
        </div>
        <div class='user-show-map-distance'>
          <span>コースの長さ：約<%= post.distance %>km</span>
        </div>
        <div class='user-show-map-comment'>
          <span class="box-title">コメント</span>
          <span><%= truncate(post.comment, length: 40) %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>