<% if user_signed_in? %>
  <% if current_user.id == post.user.id %>
    <div class="leader">
      <span>…</span>
      <ul class="leader-lists">
        <li class="leader-list"><%= link_to "詳細", post_path(post.id) %></li>
        <li class="leader-list"><%= link_to "編集", edit_post_path(post.id) %></li>
        <li class="leader-list"><%= link_to "削除", post_path(post.id), method: :delete, data: {confirm: "投稿を削除してもよろしいですか？"} %></li>
      </ul>
    </div>
  <% else %>
    <div class="leader">
      <span>…</span>
      <ul class="leader-lists">
        <li class="leader-list"><%= link_to "詳細", post_path(post.id) %></li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class="leader">
    <span>…</span>
    <ul class="leader-lists">
      <li class="leader-list"><%= link_to "詳細", post_path(post.id) %></li>
    </ul>
  </div>
<% end %>