<%= render "shared/header" %>

<div class="index-main">
  <%= render "shared/search" %>

  <div class='index-map-contents'>
    <div class="subtitle" >
      投稿一覧
    </div>
    <div class='pagination'>
      <%= paginate @posts %>
    </div>
    <ul class='map-lists'>
      <% @posts.each do |post| %>
      <li class='map-list'>
        <div class='map-info'>
          <div class='post-left-contents'>
            <div class="index-user-name">
              <%= link_to user_path(post.user.id) do %>
                <span><%= post.user.nickname %></span>
              <% end %>
              <%= render "shared/leader", post: post %>
            </div>
            <div class='index-image'>
              <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
              <%= image_tag 'noimage.png', class: 'post-image' unless post.image.attached? %>
            </div>
            <div id="likes-<%= post.id %>">
              <%= render "shared/like", post: post %>
            </div>
          </div>
          <div class='post-right-contents'>
            <div class='map-name'>
              <%= link_to "このコースのマップを見る", post.map_link, target: :_blank, rel: "noopener noreferrer", class: "map-name-link" %>
            </div>
            <div class='map-distance'>
              <span>コース距離：約<%= post.distance %>km</span>
            </div>
            <div class='map-comment'>
              <span class="box-title">コメント</span>
              <span><%= truncate(post.comment, length: 40) %></span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class='pagination'>
      <%= paginate @posts %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>