<%= render "shared/header" %>

<div class="index-main">
  <%= render "shared/search" %>

  <div class='index-map-contents'>
    <div class="subtitle" >
      投稿一覧
    </div>
    <div class='pagination-contents'>
      <%= paginate @posts %>
      <span class='page-length'>
        <%= @posts.total_count %>件中<%= @posts.offset_value + 1 %>〜<%= @posts.offset_value + @posts.length %>件表示
      </span>
    </div>
    <ul class='map-lists'>
      <% @posts.each do |post| %>
      <li class='map-list'>
        <div class='map-info'>
          <div class='post-left-contents'>
            <div class="index-user-name">
              <%= link_to user_path(post.user.id) do %>
                <span><%= post.user.nickname %></span>
              <% end %>
              <%= render "shared/leader", post: post %>
            </div>
            <%= render "shared/swiper", post: post %>
            <div id="likes-<%= post.id %>">
              <%= render "shared/like", post: post %>
            </div>
          </div>
          <div class='post-right-contents'>
            <div class='map-name'>
              <%= link_to "このコースのマップを見る", post.map_link, target: :_blank, rel: "noopener noreferrer", class: "map-name-link" %>
            </div>
            <div class='map-address'>
              <span><%= post.address.prefecture_code %><%= post.address.city %></span>
            </div>
            <div class='map-distance'>
              <span>コースの長さ：約<%= post.distance %>km</span>
            </div>
            <div class='map-comment'>
              <span class="box-title">コメント</span>
              <span><%= truncate(post.comment, length: 55) %></span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class='pagination-contents'>
      <%= paginate @posts %>
      <span class='page-length'>
        <%= @posts.total_count %>件中<%= @posts.offset_value + 1 %>〜<%= @posts.offset_value + @posts.length %>件表示
      </span>
    </div>
  </div>
</div>

<%= render "shared/footer" %>